@import "tailwindcss";


@keyframes slide {
  0% { transform: translateX(0%); }
  30% { transform: translateX(-50%); }
  60% { transform: translateX(-80%); }
}

.animate-slide {
  animation: slide 15s infinite ease-in-out;
}
p,h1 {
        font-family: 'Montserrat', sans-serif;
        
    }